<h1>Log In!</h1>

<%= form_for @user, :url => { :controller => "sessions", :action => "create"} do |f| %>
	<%= f.text_field :email %>
	<%= f.password_field :password %>
	<br />
	<%= f.submit %>
<% end %>