<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>This is the (users view) homepage</h1>
<p>Your reviews will go here</p>
<%= link_to "Home", root_url %>
<%= link_to "Sign out", logout_url, method: :delete %>
<br /></p>
</body>
</html>