<h1>Corporate Scoreboard</h1>
<p>Rate and review the companies that sell you things you don't need!</p>

<%= link_to "Create an account", new_user_path %>
<br>
<%= link_to "Sign in", new_session_path %>
<br />
<p>It'd be sick to have this be a link to the reviews</p>